<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
      <% rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :rent_user_id %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :rent_book_id %>
  </div>

  <div class="field">
    <%= form.label :days_to_deadline %>
    <%= form.number_field :days_to_deadline, id: :rent_days_to_deadline %>
  </div>

  <div class="field">
    <%= form.label :bill_day_delay %>
    <%= form.text_field :bill_day_delay, id: :rent_bill_day_delay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
