<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Sinopsys:</strong>
  <%= @book.sinopsys %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<h3>Book Units</h3>

<table>
  <thead>
    <tr>
      <th>Available</th>
      <th>Edition</th>
      <th>Condition</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book.book_units.each do |book_unit| %>
      <tr>
        <td><%= book_unit.available %></td>
        <td><%= book_unit.edition %></td>
        <td><%= book_unit.condition %></td>
        <td><%= book_unit.year %></td>
        <td><%= link_to 'Show', book_unit %></td>
        <td><%= link_to 'Edit', edit_book_unit_path(book_unit) %></td>
        <td><%= link_to 'Destroy', book_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Unit', new_book_unit_path %>
