<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book_unit.book %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book_unit.available %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book_unit.edition %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book_unit.condition %>
</p>

<%= link_to 'Edit', edit_book_unit_path(@book_unit) %> |
<%= link_to 'Back', book_units_path %>
