<p id="notice"><%= notice %></p>

<h2>
  <%= link_to @book_unit.book.title, @book_unit.book %>
</h2>

<p>
  <strong>Author:</strong>
  <%= @book_unit.book.author %>
</p>

<p>
  <strong>Sinopsys:</strong>
  <%= @book_unit.book.sinopsys %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book_unit.available %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book_unit.edition %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book_unit.condition %>
</p>

<%= link_to 'Edit', edit_book_unit_path(@book_unit) %> |
<%= link_to 'Back', book_units_path %>